<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WarehouseManagement.Properties.Settings.UserDBConnectionString"
            connectionString="Data Source=BCO39;Initial Catalog=WMS;User ID=sa;Password=amwdb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>